<%- model_class = Road -%>

<div class='page-header'>
  <h3>Road: Введение в Ruby on Rails<h3>
</div>

<div class="scroll">

  <div class="scroll_child">

   		    <% @road_columns.each do |column| %>

		      <div class='column'>
            
		        <%= raw check_unit(column.first_line, "first_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.second_line, "second_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.third_line, "third_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.fourth_line, "fourth_line", column.road_id, column.id) %>
            
		      </div>
       

		      <% end %>



	</div>
</div>

