<%- model_class = Road -%>

<div class='page-header'>
  <h3>Road: Введение в Ruby on Rails<h3>
</div>

<div class="scroll">

  <div class="scroll_child">

   		    <% @road_columns.each do |column| %>

		      <div class='column'>
            
		        <%= raw check_unit(column.first_line, "first_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.second_line, "second_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.third_line, "third_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.fourth_line, "fourth_line", column.road_id, column.id) %>
            
		      </div>
       

		      <% end %>

          <div class="scroller__track"><!-- Track is optional -->
            <div class="scroller-bar"></div>
          </div>

	</div>
</div>



<script type="text/javascript">



  $(document).ready(function(){

      //Количество элементов div находящихся внутри дочернего Div "<div class="scroll_child">"
      var quantity=$(".scroll_child div").size();

      //Общая длинна всех элементов
      var widthScroll=0;
      for (i=0;i<quantity;i++){
        widthScroll+=$(".scroll_child div:eq("+i+")").width();
      }

      //Установка ширины дочернего Div "<div class="scroll_child">"
      $(".scroll_child").width(widthScroll);

      $('.scroll_child').baron();

      baron({
        direction: 'h'
      });

  });

</script>


