<style type="text/css">
   .unit1 { 
    width: 223px; 
	height:53px;
    background: #ccc;
    padding: 0px;
    margin-top: 30px;
    margin-left: 30px;
    border: solid 1px black; 
    float: top;
   }
   .unit2 { 
    width: 223px;
	height:53px;
    background: #fc0; 
    padding: 0px; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: solid 1px black; 
    float: top;
   }
	
</style> 

<div class='page-header'>
  <h3>Road: Введение в Ruby on Rails<h3>
</div>

<div class="container-fluid">
	<div class="row-fluid" style="background: #eee ; ">

	  <div class="span2"></div>
	  <div class="span10">

		<div style="display: block; ">
   		    <% @road_columns.each do |column| %>

		      <div style="float: left; ">
		        <%= raw check_unit(column.first_line, "first_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.second_line, "second_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.third_line, "third_line", column.road_id, column.id) %>
		        <%= raw check_unit(column.fourth_line, "fourth_line", column.road_id, column.id) %>
		      </div>

		    <% end %>
		</div>

	  </div>


	</div>
</div>
