// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dl-horizontal {
	display: inline-table;
	margin-left: 35%;
	margin-right: auto;
}	

.btn-group {
	float: right;
	vertical-align: top;
}

.page-header {
	display: block;
}

.tab-content {
	width: 50%;
	float: left;

}

.comment-tab {
	width: 45%;
	float: right;

}

.main_page {
	overflow:hidden;
	display:block;
}

.sub-footer {
	clear: both;
	width: 90%;
	margin-top: 100px;
}

.comment {
	background-image: url(images/squairy_light.png);
	padding: 10px;
	border-radius: 2px 2px 2px 2px;
	border: 1px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4)
}